*
{
    margin: 0 0
}

h1
{ 
    margin: 30px;
}

h3
{
    padding-bottom: 20px;
    line-height: 16px;
}

#nav
{
    background-color: rgba(32,119,182,0.2);
    width: 970px;
    height: 96px;
    margin: 20px 25px;
    padding: 30px 20px;
    border:dashed;
    border-width:2px;
}

    #nav ul
    {
        list-style-type: none;
        position:relative;
    }

    #nav ul ul
    {
        display: none;
        position:absolute;
        top: 38px;      
    }

        #nav ul li:hover > ul    /*when hovering ul, do the following to the inner ul*/
        {
            display: block;
            padding:0px;  /*make the hovering subtopic bar to the left*/
        }

        #nav ul ul li
        {
            float: none;
        }

        #nav ul li a
        {
            background-color: #0d3d61;
            color: white;
            text-decoration: none;
            font-size: 15px;
            font-family: Arial;
            padding: 10px;
            display: inline-block;   /*this can help fix the overlap problem in nav bar*/
            width:100px;
            text-align:center;
        }

        #nav ul li
        {
            float: left;
        }

    #nav a:hover
    {
        background-color: orange;
        color:white;
        /*font-size:105%;*/
    }

    #nav > ul::after  /*insert text after the content of each nav >  ul*/
    {
        content: "";
        display: block;
        clear: both;

    }



   